// base
@import "base/mixins";
@import "base/index";
@import "base/variables";

body {
  @include tablet-max {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.is-main {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
}

.is-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out;

  @include laptop {
    width: auto;
    margin-top: -2vw;
    margin-left: -4vw;
  }

  @include desktop-hd {
    margin-top: -3vw;
    margin-left: -2vw;
  }

  &.is-hidden {
    opacity: 0;
  }
}

h1 {
  padding-bottom: 25px;
  padding-top: 25px;
  @include heading-size(var(--h1-font-size), var(--h1-line-height));

  span {
    color: var(--grey-light);
  }

  @include laptop {
    padding-top: 0;
    padding-bottom: 0;
  }
}

h2 {
  padding-bottom: 30px;
  color: var(--grey-middle);

  @include heading-size(var(--h2-font-size), var(--h2-line-height));

  @include laptop {
    padding-bottom: 0;
  }
}

.is-form {
  margin: 0 auto;

  @include laptop {
    margin-top: 40px;
  }

  &.has-error {
    .is-input {
      border-color: red;
      box-shadow: none;
    }
  }
}

.is-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #fff;
  background-image: none;

  display: block;
  width: 190px;
  height: 36px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: 0.2s ease;

  font-family: "Rubik";
  font-size: 16px;
  line-height: 18px;

  @include tablet {
    width: 265px;
    height: 43px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 10px;
  }

  @include laptop {
    padding: 14px;
    width: 20vw;
    height: 3.4vw;
    border-radius: 1vw;
    font-size: 1.5vw;
  }

  @include desktop {
    padding: 20px;
    width: 18vw;
    height: 3.2vw;
    font-size: 1.4vw;
    border-radius: 16px;
  }

  @include desktop-hd {
    width: 16vw;
    height: 3vw;
    font-size: 1.25vw;
  }

  &,
  &:focus,
  &:hover {
    outline: none;
  }
}

.img-opal {
  display: block;
  object-fit: contain;
  object-position: center;

  @include tablet-max {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include img-position(60vw, -15vw, -10vw);

  @include iphone-sm {
    @include size(50vw);
  }

  @include iphone-md {
    @include size(51vw);
  }

  @include iphone-lg {
    @include size(53vw);
  }

  @include tablet {
    @include size(48vw);
  }

  @include ipad-landscape {
    @include size(33vw);
  }

  @include tablet-max {
    max-width: 390px;
    max-height: 390px;
  }

  @include laptop {
    @include img-position(34vw, -11vw, -6vw);
  }

  @include desktop {
    @include img-position(32vw, -10vw, -4vw);
  }

  @media screen and (min-width: 1700px) {
    @include img-position(29vw, -10vw, -3vw);
  }

  @include desktop-hd {
    @include img-position(30vw, -10vw, -4vw);
  }
}

.img-lines {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;

  display: block;
  max-width: 100%;
  height: 50px;

  object-fit: cover;

  @media screen and (min-width: 370px) {
    bottom: 20px;
  }

  @include ipad-landscape {
    bottom: 40px;
  }

  @include laptop {
    bottom: 50px;
    height: auto;
    object-fit: contain;
  }
}

.was-sent p {
  display: none;
}

.was-sent,
#typed {
  margin: 0;
  font-size: var(--success-font-size);
  line-height: var(--success-line-height);
  color: var(--grey-light);

  width: 295px;
  height: 30vh;
  margin: 0 auto;
  text-align: center;

  @include iphone-md {
    height: 23vh;
  }

  @include iphone-lg {
    height: 17vh;
  }

  @include iphone-x {
    height: 16vh;
  }

  @include tablet {
    width: 440px;
    height: 300px;
  }

  @include tablet-max {
    display: none;
  }

  @include laptop {
    width: 40vw;
    height: 25vw;
    margin: 0;
    text-align: left;
  }
}

.typed-cursor {
  display: none;
}
